body{
    background: url(images/seasons-background.jpg) no-repeat center fixed;
    background-size: cover;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.div1{
    background-color: rgba(255, 255, 255, 0.85);
    width: 700px;
    margin: auto;
    padding: 15px 50px;
    border-radius: 15px;
    border:3px solid black;
    margin-top: 40px;
}

button{
    background-color:peachpuff;
    padding: 7px 25px;
}

 
.icon{
    width:100px
}


h1{
    padding:10px;
    background-color: black;
    color:white;
    border-radius: 20px;
}

h1, h2{
    letter-spacing: 4px;
    font-family: 'Paytone One', sans-serif;
}

.winter{
    background-color: rgb(121,123,186);
    color:white;
    padding: 15px 50px;
}

.spring{
    background-color: olivedrab;
    color:white;
    padding: 15px 50px;
}

.summer{
    background-color: #ed7da5;
    color:white;
    padding: 15px 50px;
}

.fall{
    background-color: saddlebrown;
    color:white;
    padding: 15px 50px;
}

li{
    text-align:left;
}

hr{
    width:550px;
}

a{
    text-decoration: none;
    color: lightsalmon
}

a:hover{
    color:yellow;
    text-decoration: underline;
}

button:hover{
    color:white;
    background-color: lightslategray;
}